---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import LOGONOTION from "../assets/LOGONOTION.jpg";
import FluidPropulsion from "../assets/fluid-propulsion.jpg";
import ElectricMotor from "../assets/electro-magnetic-motor.jpg";

const projects = [
     {
          title: "MAGDA'S WORKSHOP",
          description: "Base de datos propia para gestión de taller.",
          image: LOGONOTION,
          url: "https://www.notion.so/MAGDA-S-WORKSHOP-3218def5d906801187e9cd8e9274f122?source=copy_link"
     },
     {
          title: "Fluid Propulsion",
          description: "Bladeless turbine using fluid dynamics for efficient, low-friction propulsion.",
          image: FluidPropulsion,
          url: "https://google.com"
     },
     {
          title: "Electro-Magnetic Motor",
          description: "Harness alternating current to produce smooth, efficient rotary motion.",
          image: ElectricMotor,
          url: "https://google.com"
     }];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
          <H1> Proyectos </H1>

          <ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <a href={project.url}>
                              <img src={project.image.src} alt={project.title} class="aspect-[1/1.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" />
                              <div class="p-1 sm:p-2">
                                   <h2 class="text-base text-zinc-100">{project.title}</h2>
                                   <p class="text-sm text-zinc-400 text-balance">{project.description}</p>
                              </div>
                         </a>
                    </li>
               ))}
          </ul>
     </div>
</InfoLayout>